{% extends "bootstrap/base.html" %}

{% block styles -%}
    {{super()}}
    <link href="/static/css/TimeCircles.css" rel="stylesheet">
{% endblock styles %}
{% block content %}
<div class="container">
	<h1>{{ session.question }}</h1>
	<div class="phone" data-timer="30" style="width: 500px;"></div>
	<div class="list-group">
	{% for answer in session.answers %}
		<a class="list-group-item list-group-item-info" href="/{{ session.folder }}/{{ question_number }}/result/{{ answer }}">{% print answer %}</a>
	{% endfor %}
	</div>
</div>
{% endblock %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="/static/js/TimeCircles.js"></script>
    <script type="text/javascript">
	$(".phone").TimeCircles({
			count_past_zero: false,
			"time": {
				"Days": {
					"show": false
				},
				"Hours": {
					"show": false
				},
				"Minutes": {
					"show": false
				},
				"Seconds": {
					"text": "Sekunden",
					"color": "#99CCFF"
				}
			}
	});
    </script>
{% endblock %}

