{% extends "bootstrap/base.html" %}

{% block title %}art_millionair{% endblock %}
{% block styles -%}
    {{super()}}
    <link href="/static/css/TimeCircles.css" rel="stylesheet">
{% endblock styles %}
{% block content %}
<div class="container text-center">
	<h1>{{ session.question }}</h1>
	{% if session.image_question %}
		<img src="/images/{{ question_number }}-q.jpg">
		<br />
		<br />
		<br />
	{% endif %}
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			{% if '5050' in session %}
			<button type="button" class="btn btn-default"><strike>50/50</strike></button>
			{% else %}
			<a href="/art_millionair/{{ session.folder }}/{{ question_number }}/joker/5050"><button type="button" class="btn btn-default">50/50</button></a>
			{% endif %}
		</div>
		<div class="btn-group">
			{% if session.audience == True %}
			<button type="button" class="btn btn-default"><strike>Publikum</strike></button>
			{% else %}
			<a href="/art_millionair/{{ session.folder }}/{{ question_number }}/joker/audience"><button type="button" class="btn btn-default">Publikum</button></a>
			{% endif %}
		</div>
		<div class="btn-group">
			{% if session.phone == True %}
			<button type="button" class="btn btn-default"><strike>Anrufen</strike></button>
			{% else %}
			<a data-toggle="modal" href="#PhoneJoker"><button type="button" class="btn btn-default">Anrufen</button></a>
			{% endif %}
		</div>
	</div>
	<br />
	<div class="list-group">
	{% for answer in session.answers %}
		<a class="list-group-item list-group-item-info" href="/art_millionair/{{ session.folder }}/{{ question_number }}/result/{{ answer }}">{% print answer %}</a>
	{% endfor %}
	</div>
</div>

{% if session.phone != True %}
<!-- AnrufModal -->
<div class="modal fade" id="PhoneJoker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1 class="modal-title" id="myModalLabel">{{ session.question }}</h1>
			</div>
			<div class="modal-body">
				<div class="countdown" data-timer="30" style="width: 300px;"></div>
				{% for answer in session.answers %}
					<h3>{% print answer %}</h3>
				{% endfor %}
			</div>
			<div class="modal-footer">
				<a href="/art_millionair/{{ session.folder }}/{{ question_number }}/joker/phone"><button type="button" class="btn btn-primary">Close</button></a>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="/static/js/TimeCircles.js"></script>
    <script type="text/javascript">
	$(".countdown").TimeCircles({
			"bg_width": 0.1,
			"fg_width": 0.13333333333333333,
			count_past_zero: false,
			"time": {
				"Days": {
					"show": false
				},
				"Hours": {
					"show": false
				},
				"Minutes": {
					"show": false
				},
				"Seconds": {
					"text": "Sekunden",
					"color": "#99CCFF"
				}
			}
	});
    </script>
{% endblock %}
