{% extends "bootstrap/base.html" %}

{% block title %}art_millionair{% endblock %}
{% block content %}
<div class="container">
	<h1>{{ session.question }}</h1>
	{% if session.image %}
		<img src="/images/{{ question_number }}.jpg">
		<br />
		<br />
		<br />
	{% endif %}
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			{% if '5050' in session %}
			<button type="button" class="btn btn-default"><strike>50/50</strike></button>
			{% else %}
			<a href="/art_millionair/{{ session.folder }}/{{ question_number }}/joker/5050"><button type="button" class="btn btn-default">50/50</button></a>
			{% endif %}
		</div>
		<div class="btn-group">
			{% if session.audience == True %}
			<button type="button" class="btn btn-default"><strike>Publikum</strike></button>
			{% else %}
			<a href="/art_millionair/{{ session.folder }}/{{ question_number }}/joker/audience"><button type="button" class="btn btn-default">Publikum</button></a>
			{% endif %}
		</div>
		<div class="btn-group">
			{% if session.phone == True %}
			<button type="button" class="btn btn-default"><strike>Anrufen</strike></button>
			{% else %}
			<a href="/art_millionair/{{ session.folder }}/{{ question_number }}/joker/phone"><button type="button" class="btn btn-default">Anrufen</button></a>
			{% endif %}
		</div>
	</div>
	<br />
	<div class="list-group">
	{% for answer in session.answers %}
		<a class="list-group-item list-group-item-info" href="/art_millionair/{{ session.folder }}/{{ question_number }}/result/{{ answer }}">{% print answer %}</a>
	{% endfor %}
	</div>
</div>
{% endblock %}
