{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}art_millionaire{% endblock %}
{% block content %}
<div class="container">
	<h1>Bilder hochladen</h1>
		<form action="" class="form" role="form" method="POST" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.question_image) }}
			{{ wtf.form_field(form.answer_image) }}
			<p class="text-right">
				<button type="submit" class="btn btn-default">Hochladen / Weiter</button>
			</p>
		</form>
</div>
{% endblock %}
